<IfModule mod_headers.c>
    <FilesMatch "\.html[_a-z]*$">
        Header unset Link
        Header add Link '</wp-content/cache/minify/5ec42.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/a277f.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/cd0a2.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/ba40c.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/e57d8.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/0cbaa.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/9f110.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/6e1d4.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/1615d.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/f213f.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/1d8b8.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/6445c.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/84c27.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/b5d6e.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/0993d.css>; rel=preload; as=style'
    </FilesMatch>
</IfModule>
