<IfModule mod_headers.c>
    <FilesMatch "\.html[_a-z]*$">
        Header unset Link
        Header add Link '</wp-content/cache/minify/5ec42.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/e8323.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/ba40c.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/0dc6c.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/0cbaa.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/0122b.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/1615d.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/f213f.js>; rel=preload; as=script'

        Header add Link '</wp-content/cache/minify/32935.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/63026.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/b8736.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/84c27.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/b7e07.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/b5d6e.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/a11ad.css>; rel=preload; as=style'
    </FilesMatch>
</IfModule>
